.container{
    max-width: 900px;
    border:0px solid #ddd;
    margin: 50px auto;}
.footer{list-style: none;margin-left: 20px;margin-top:50px;}
.footer img{width:12%;display: inline-block;margin-top:20px;}
.footer p{margin-left:10px;margin-top: 0px; float:center;color:dimgray;}
/*header*/
#nav ul{list-style:none;margin:0 auto;display:block;    
                }
#nav li{float:left;padding:0 10px;margin: 2px;background-color: darkgrey;    
                }
#nav li a{text-decoration: none;font-size:1em;color:white;}
#nav li a:hover{color:black;}
/*table*/
 #section {float:center;background-color: none;margin: 50px 0 0 50px;
        }
#table{max-width: 80%;border: 0px solid;margin-left: 0px;font-family: monospace;
        }
#table tr td{text-align: left;background-color: whitesmoke;
        }

/*Modal*/
.myBtn:hover{opacity: 0.7;cursor: pointer;}
.modal,
    .modal2,
    .modal3 {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    }

.modal-content,
.modal2-content,
.modal3-content,
.modal4-content,
.modal5-content{
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  position: relative;
}
 
.close {
  color: grey;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 30px;
  font-size: 28px;
  font-weight: bold;
  z-index: 15;
}

.close:hover {color: #000;text-decoration: none;padding: 0px;cursor: pointer;}

.modal-body {padding: 2px 10px;box-sizing: border-box;}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,{display: none;}

img {
  vertical-align: middle;margin: auto;
  display: block;
  width: 100%;
  max-width: 1200px;}

/* Slideshow container */
.slideshow-container {max-width:1500px;position: relative;margin: auto;}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.note {background-color: white;text-align: center;}
.note p{color:darkgrey;}

/* Position the "next button" to the right */
.next {right: 0;border-radius: 3px 0 0 3px;}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;}
